.tabla {
    float: left;
    border: solid 1px #5c9ccc;
    padding: 3px;
}
.titulo-tabla{
    background-color: #5c9ccc;
    color: white;
    text-align: center;
    font: 25px sans-serif;
}
.title-form{
    text-align: center;
   
    font: 20px sans-serif;
}
.formulario {
    float: left;
    color: white;
    background-color: #232323;
    padding: 5px;
}
.boton{
    
    text-align: center;
}